body {
    font-family: 'Cinzel', serif;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    background-color: white;
}
.page-container {
    width: 640px;
    height: 960px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: white;
    background-color: black;
}

fieldset{
    color: #C8A2C8;
    border-radius: 0.5rem;
    text-align: center;
}
input{
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: whitesmoke;
}
.add-item-button{
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: #C8A2C8;
    border-radius: 0.5rem;
    text-align: center;
}

.navigation-bar {
    background-color: lightpink; 
    color: black; 
    padding: 7px;
    text-align: center;
    font-size: 18px; 
    display: flex; 
    justify-content: space-evenly; 
    border: 2px none #ced4da; 
}

.tab-button {
    padding: 10px 20px;
    color: black;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent; 
    transition: background-color 0.3s;
}

.icon{
    width: 24px; 
    height: 24px;
    color: black; 
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

/* Style for the table cell */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    justify-content: space-evenly;
}

/* Style for the icon */
.icon-generated {
    color: crimson;
    margin-right: 10px; /* Add some space between the icon and item details */
}

/* Style for the item details */
.item-details {
    color: aquamarine;
    flex-grow: 1; /* Expand to fill available space */
}

/* Style for the options */
.options {
    margin-left: auto; /* Push options to the right */
    display: flex; /* Use flexbox for layout */
}

/* Style for the edit and delete icons */
.edit-icon,
.delete-icon,
.validate-icon {
    margin-right: 10px; /* Add some space between the icons */
    cursor: pointer;
    color: lightskyblue;
}

.edit-icon:hover{
    color: orange;
}
.delete-icon:hover{
    color:crimson;
}
.validate-icon:hover{
    color:lightgreen;
}
.purchase{
    color:crimson;
    font-size: bold;
    justify-content:center;
    size: 1rem;
}