body {
    font-family: 'Cinzel', serif;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 640px;
    height: 960px;
}

.container {
    max-width: 640px;
    height: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background-color: lightsalmon;
    border: 1px solid white; 
    padding: 8px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
}

.left-section,.right-section,.add-item-button {
    display: none;
}

.display-item-button {
    padding: 12px 24px; /* Optimal padding for better button size */
    border-radius: 8px; /* Rounded corners for a softer look */
    font-size: 18px; /* Larger font size for better readability */
    font-weight: bold; /* Make the text bold for better visibility */
    border: 2px solid #FFA500; /* Stylish border color that matches the hover state */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Slightly larger shadow for depth */
    color: #333; /* Darker text for better contrast */
    cursor: pointer;
    background-color: #ffffff; /* Brighter background for more pop */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Smooth transition for multiple properties */
    text-align: center; /* Ensure text is centered */
    display: inline-block; /* Allow the button to fit content width rather than stretching */
}

/* Popup Modal */
.popupModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styling */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


.navigation-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px; /* Increase padding for larger height */
    background-color: #c4f9fb;
    font-size: 18px; /* Larger font size for overall text */
}

.tab-button {
    text-decoration: none;
    color: black;
    font-size: 18px; /* Increased font size for the text in tabs */
    display: flex;
    align-items: center;
    padding: 10px; /* Add padding to make buttons larger */
}

.tab-button .icon {
    margin-right: 10px;
    width: 16px; /* Larger icons */
    height: 16px; /* Ensure icons are square, adjust as needed */
}

.tab-button:hover, .tab-button:focus {
    color: #FFA500; /* Highlight color on hover/focus */
    background-color: #e0f4f7; /* Slight background color on hover for better visibility */
    border-radius: 5px; /* Rounded corners for aesthetics */
    outline: none;
}


/* General style for table cells */
td {
    background-color: #b3e5fc;  /* Softer shade of blue */
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures that content spans the entire cell width */
    border-bottom: 1px solid #e0f0f8; /* Adds a light border between rows for better separation */
    color: #333; /* Darker text for better readability */
}

/* Style for the item details */
.item-details-1 {
    flex-grow: 2;
    padding-right: 20px; /* Adds space between this section and the options */
    color: #333; /* Consistent text color */
    font-weight: 500; /* Slightly bolder font for emphasis */
}

/* Divs for purchased status and options */
.purchased,
.options {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Purchased status styles */
.purchased {
    font-weight: bold;
    font-size: 1rem;
    color: #4CAF50; /* Green color for a positive visual cue */
}

/* Style for the options section */
.options {
    gap: 10px; /* Adds space between icons */
}

/* Icons styling */
.edit-icon,
.delete-icon,
.validate-icon {
    cursor: pointer;
    width: 35px; /* Slightly smaller icons for subtlety */
    height: 35px;
    transition: transform 0.2s; /* Smooth transition for interaction */
}

.edit-icon:hover,
.delete-icon:hover,
.validate-icon:hover {
    transform: scale(1.1); /* Slightly enlarge icons on hover */
}

@media (max-width: 630px) {
    .item-details-1 {
        flex-grow: 1;
        padding-right: 10px;
    }

    .purchased,
    .options {
        flex-grow: 0;
        flex-basis: 50px; 
    }

    td {
        padding: 8px; 
    }

    .edit-icon,
    .delete-icon,
    .validate-icon {
        width: 40px;
        height: 40px;
    }
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
#confirmModal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

#confirmModal .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    text-align: center; 
}

#confirmModal button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 10px 0; 
}

#confirmModal button:hover {
    background-color: #45a049;
}

.delete-button {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 5px; 
}

.delete-button img {
    width: 24px; 
    height: 24px;
}
.mobile-keyboard {
    width: 100%;
    max-width: 400px; /* Adjust based on your preference */
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.key-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px 12px;
    margin: 0 2px;
    text-align: center;
    flex-grow: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.key:hover {
    background-color: #ddd;
}

.shift, .backspace, .function {
    flex-grow: 2;
}

.function {
    text-align: center;
}
