body {
    font-family: 'Cinzel', serif;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 640px;
    height: 960px;
}
.page-container {
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background-color: lightsalmon;
    border: 1px solid #000; /* Or any other color you prefer */
    padding: 8px; /* Adjust padding as needed */
    text-align: center; /* Or center or right, as desired */
    overflow: hidden; /* Ensures that the border-radius is respected */
    font-weight: bold;
}

.left-section,.right-section,.add-item-button {
    display: none;
}

fieldset {
    color: black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display-item-button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.display-item-button:hover {
    background-color: #e0e0e0;
}

.left-section,
.right-section {
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    width: 70%; /* Adjust as needed */
}

.add-item-button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #555;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.add-item-button:hover {
    background-color: #e0e0e0;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-btn {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #ccc;
    border: none;
    color: #555;
    transition: background-color 0.3s;
}

.quantity-btn:hover {
    background-color: #bbb;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 70px;
    text-align: center;
}

.navigation-bar {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #FF6700; 
    color: black; 
    padding: 7px;
    text-align: center;
    font-size: 18px; 
    display: flex; 
    justify-content: space-evenly; 
    border: 2px none #ced4da; 
}

.tab-button {
    padding: 10px 20px;
    color: black;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent; 
    transition: background-color 0.3s;
}

.icon{
    width: 24px; 
    height: 24px;
    color: black; 
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

/* Style for the table cell */
td {
    background-color: lightskyblue;
    padding: 10px;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    justify-content: space-evenly;
    color: deeppink;
}
.item-details-1{
    flex-grow: 2;
}
.purchased,
.options {
    flex-grow: 1; /* Each div takes equal width */
}

/* Style for the item details */
.item-details-1{
    color: black;
    flex-grow: 1; /* Expand to fill available space */
}

/* Style for the options */
.options {
    margin-left: auto; /* Push options to the right */
    display: flex; /* Use flexbox for layout */
}

/* Style for the edit and delete icons */
.edit-icon,
.delete-icon,
.validate-icon {
    margin-right: 10px; /* Add some space between the icons */
    cursor: pointer;
    width: 30px; 
    height: 30px;
}

.purchase{
    color:black;
    font-size: bold;
    justify-content:center;
    size: 1rem;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  