body {
    font-family: 'Cinzel', serif;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    width: 640px;
    height: 960px;
    margin: 0 auto;
    padding: 20px;
}


#home {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: lightsalmon;
    border-radius: 10px;
    padding: 20px;
}

#home h1 {
    margin-right: 20px; 
    color: black;
    font-weight: bold;
}

#home img {
    border-radius: 50%; 
    height: 120px; 
    margin-right: 0;
    color: black;
}

/* Updated Styling */
#image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.pop_section_heading{
    text-align: center;
    font-weight: bold;
}

.gallery {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 20px;
    background-color: #eaeaea; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0px 4px 8px lightseagreen; 
    transition: transform 0.3s ease; 
}

.gallery:hover {
    transform: translateY(-5px); 
}

.gallery img {
    width: 100%;
    height: fit-content;
    display: block;
}

#healthy-facts {
    background-color: lightgreen;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.healthy-tips ul {
    list-style-type: disc;
    margin-left: 20px;
    color: black; 
}

.healthy-tips ul li {
    margin-bottom: 10px;
    color: black; 
}

.navigation-bar {
    background-color: lightpink; 
    color: black; 
    padding: 7px;
    text-align: center;
    font-size: 18px; 
    display: flex; 
    justify-content: space-evenly; 
    border: 2px none #ced4da; 
}

.tab-button {
    padding: 10px 20px;
    color: black;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent; 
    transition: background-color 0.3s;
}

.icon{
    width: 24px; 
    height: 24px;
    color: black; 
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}