body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 640px;
    height: 960px;
  }
  h3{
    margin-left: 10px;
    color: black;
  }
  h2{
    margin-left: 10px;
  }
  img{
    width: 45px
  }

  button {
    display: block;
    margin-top: 10px;
    border:none;
    border-radius:10px;
    background-color:#1a936f;
    color: #fff;
  }

  .header{
    background-color: lightsalmon;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
  }
  .container {
    margin: 0 auto;
    padding: 20px;
  }
  
  .section{
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    background-color: #8CCFD3;
    border-radius: 10px;
  }

  .functions{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .confirm-button{
    display: inline-block
  }

  .function{
    border-radius: 0.5rem;
    width: 90px;
    height: 40px;
    display: inline-block;
  }
  
  .pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .edit{
    border: none;
    background-color: inherit;
    float: right;
  }
  .editUser{
    border: none;
    background-color: inherit;
    float: right;
  }
  .editUser:hover{
    background-color:white;
    border-radius: 50%;
 
  }
  .edit:hover{
    background-color:white;
    border-radius: 50%;
 
  }
  .popup {
    display: none;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .popup-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 40% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; 
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }


.form select {
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  padding: 8px; 
  font-size: 16px; 
  cursor: pointer; 
}


.form select:hover {
  border-color: #888; 
}


.form select:focus {
  border-color: #005A9C; 
  outline: none; 
}

  .navigation-bar {
    background-color: #FF6700; 
    color: black; 
    padding: 20px;
    text-align: center;
    font-size: 18px; 
    display: flex; 
    justify-content: space-evenly; 
    border: 2px none #ced4da; 
}

.user-name{
  float: right;
  color: green;
  position: relative;
  top: -50px;
}
.icon{
  width: 24px; 
  height: 24px;
  color: black; 
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

  #file{
    display:none;
  }

  #other-users{
    height: 450px;
    overflow-y: auto;
    border: 1px solid black;
  }


  #create-button{
    border:none;
    border-radius:10px;
    background-color:#1a936f;
    color: #fff;
    width: 100px;
    height: 40px;
    display: inline-block;
  }
#admin{
  background-color: #8db38b;
}

#user-default{
  color:lightcoral;
  text-align: center;
  vertical-align: middle;
  line-height: 90px; 
}

