body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  h3{
    margin-left: 10px;
    color: black;
  }
  h2{
    margin-left: 10px;
  }
  img{
    width: 45px
  }

  button {
    display: block;
    margin-top: 10px;
    border:none;
    border-radius:10px;
    background-color:#000;
    color: #fff;
  }

  .header{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: #ffffff;
    font-size: 12px;
  }
  .container {
    width: 640px;
    height: 900px;
    margin: 0 auto;
  }
  
  .section{
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    background-color: lightcoral;
    border-radius: 10px;
  }

  .functions{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .function{
    border-radius: 0.5rem;
    width: 90px;
    height: 40px;
  }
  
  .pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .edit{
    border: none;
    background-color: inherit;
    float: right;
  }
  .editUser{
    border: none;
    background-color: inherit;
    float: right;
  }
  .editUser:hover{
    background-color:white;
    border-radius: 50%;
 
  }
  .edit:hover{
    background-color:white;
    border-radius: 50%;
 
  }
  .popup {
    display: none;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .popup-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 40% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
  }
  .form{
    display:grid;
    margin-bottom: 10px;
  }

  .navigation-bar {
    background-color: lightpink; 
    color: black; 
    padding: 7px;
    text-align: center;
    font-size: 18px; 
    display: flex; 
    justify-content: space-evenly; 
    border: 2px none #ced4da; 
}

.user-name{
  float: right;
  color: green;
  position: relative;
  top: -50px;
}

  #file{
    display:none;
  }

  #other-users{
    height: 450px;
    overflow-y: auto;
    border: 1px solid black;
  }


  #create-button{
    border:none;
    border-radius:10px;
    background-color:green;
    color: #fff;
  }
#admin{
  background-color: lightgreen;
}

